In [47]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import GridSearchCV

In [48]:
titanic_all = pd.read_csv("путь до файла")

In [49]:
titanic_all.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [50]:
titanic_all.columns = titanic_all.columns.str.lower()

In [51]:
titanic_all["age"].fillna(titanic_all["age"].median(), inplace=True)

In [52]:
titanic_all["embarked"].fillna("S", inplace=True)

In [54]:
titanic_res = titanic_all.drop(["cabin", "passengerid", "name", "ticket"], axis=1)

In [64]:
titanic_res["sex"] = titanic_res["sex"].apply(lambda x: 0 if x=="female" else 1)

In [68]:
titanic_res["embarked"] = titanic_res["embarked"].apply(lambda x: 1 if x=="S" else (2 if x=="C" else 3))

In [73]:
titanic_features = titanic_res.drop("survived", axis=1)
titanic_target = titanic_res["survived"]

In [74]:
clf = tree.DecisionTreeClassifier(random_state=241)

In [75]:
clf.fit(titanic_features, titanic_target)

DecisionTreeClassifier(random_state=241)

In [79]:
clf.feature_importances_

array([0.11124995, 0.31088095, 0.23687017, 0.0466806 , 0.02742288,
       0.25077227, 0.01612318])